colorama
cvzone
discord.py
discord_webhook
face_recognition
Flask
Flask-SocketIO
numpy
opencv_contrib_python
opencv_python
python-dotenv
mediapipe
pyttsx3
Pillow
eventlet
Flask-SQLAlchemy
Flask-Login
flask_limiter
pyvirtualcam
